/.DomainGenerator.java._trace
/.DomainGenerator.xtendbin
/.Generator.java._trace
/.Generator.xtendbin
/.IDomainGenerator.java._trace
/.IDomainGenerator.xtendbin
/.IModelGenerator.java._trace
/.ModelGenerator.java._trace
/.OwlsAPI.java._trace
/.OwlsAPI.xtendbin
/.OwlsAPId.java._trace
/.SchemaorgTypeTranslator.java._trace
/.SchemaorgTypeTranslator.xtendbin
/.XsdTypeTranslator.java._trace
/.XsdTypeTranslatorTest.java._trace
/.XsdTypeTranslatorTest.xtendbin
/DomainGenerator.java
/Generator.java
/IDomainGenerator.java
/OwlsAdapterGenerator.java
/SchemaorgTypeTranslator.java
/XsdTypeTranslatorTest.java
