<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated OpenAPI -->
      <package
            uri="http://swagger.io/v2/schema.json#"
            class="de.upb.debis.openapi.model.OpenapiPackage"
            genModel="model/OpenAPI.genmodel"/>
   </extension>

</plugin>
