/.IdentifierProvider.java._trace
/.IdentifierProvider.xtendbin
/.Json2Owl.java._trace
/.Json2Owl.xtendbin
/.JsonStatistics.java._trace
/.JsonStatistics.xtendbin
/.UriProvider.java._trace
/.UriProvider.xtendbin
/IdentifierProvider.java
/Json2Owl.java
/JsonStatistics.java
/UriProvider.java
