/**
 * LH Public API
 * No descripton provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)
 *
 * OpenAPI spec version: 1.0
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */


package io.swagger.client.api;

import io.swagger.client.ApiCallback;
import io.swagger.client.ApiClient;
import io.swagger.client.ApiException;
import io.swagger.client.ApiResponse;
import io.swagger.client.Configuration;
import io.swagger.client.Pair;
import io.swagger.client.ProgressRequestBody;
import io.swagger.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class OperationsApi {
    private ApiClient apiClient;

    public OperationsApi() {
        this(Configuration.getDefaultApiClient());
    }

    public OperationsApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /* Build call for operationsSchedulesFromDateTimeByOriginAndDestinationGet */
    private com.squareup.okhttp.Call operationsSchedulesFromDateTimeByOriginAndDestinationGetCall(String origin, String destination, String fromDateTime, String accept, Boolean directFlights, String limit, String offset, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // verify the required parameter 'origin' is set
        if (origin == null) {
            throw new ApiException("Missing the required parameter 'origin' when calling operationsSchedulesFromDateTimeByOriginAndDestinationGet(Async)");
        }
        
        // verify the required parameter 'destination' is set
        if (destination == null) {
            throw new ApiException("Missing the required parameter 'destination' when calling operationsSchedulesFromDateTimeByOriginAndDestinationGet(Async)");
        }
        
        // verify the required parameter 'fromDateTime' is set
        if (fromDateTime == null) {
            throw new ApiException("Missing the required parameter 'fromDateTime' when calling operationsSchedulesFromDateTimeByOriginAndDestinationGet(Async)");
        }
        
        // verify the required parameter 'accept' is set
        if (accept == null) {
            throw new ApiException("Missing the required parameter 'accept' when calling operationsSchedulesFromDateTimeByOriginAndDestinationGet(Async)");
        }
        

        // create path and map variables
        String localVarPath = "/operations/schedules/{origin}/{destination}/{fromDateTime}".replaceAll("\\{format\\}","json")
        .replaceAll("\\{" + "origin" + "\\}", apiClient.escapeString(origin.toString()))
        .replaceAll("\\{" + "destination" + "\\}", apiClient.escapeString(destination.toString()))
        .replaceAll("\\{" + "fromDateTime" + "\\}", apiClient.escapeString(fromDateTime.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        if (directFlights != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "directFlights", directFlights));
        if (limit != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "limit", limit));
        if (offset != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "offset", offset));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (accept != null)
        localVarHeaderParams.put("Accept", apiClient.parameterToString(accept));

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "auth" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    /**
     * Flight Schedules
     * Scheduled flights between given airports on a given date.
     * @param origin Departure airport. 3-letter IATA airport code (e.g. &#39;ZRH&#39;) (required)
     * @param destination Destination airport. 3-letter IATA airport code (e.g. &#39;FRA&#39;) (required)
     * @param fromDateTime Local departure date and optionally departure time (YYYY-MM-DD or YYYY-MM-DDTHH:mm). When not provided, time is assumed to be 00:01 (required)
     * @param accept http header: application/json or application/xml (Acceptable values are: \&quot;application/json\&quot;, \&quot;application/xml\&quot;) (required)
     * @param directFlights Show only direct flights (false&#x3D;0, true&#x3D;1). Default is false (optional)
     * @param limit Number of records returned per request. Defaults to 20, maximum is 100 (if a value bigger than 100 is given, 100 will be taken) (optional)
     * @param offset Number of records skipped. Defaults to 0 (optional)
     * @return String
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public String operationsSchedulesFromDateTimeByOriginAndDestinationGet(String origin, String destination, String fromDateTime, String accept, Boolean directFlights, String limit, String offset) throws ApiException {
        ApiResponse<String> resp = operationsSchedulesFromDateTimeByOriginAndDestinationGetWithHttpInfo(origin, destination, fromDateTime, accept, directFlights, limit, offset);
        return resp.getData();
    }

    /**
     * Flight Schedules
     * Scheduled flights between given airports on a given date.
     * @param origin Departure airport. 3-letter IATA airport code (e.g. &#39;ZRH&#39;) (required)
     * @param destination Destination airport. 3-letter IATA airport code (e.g. &#39;FRA&#39;) (required)
     * @param fromDateTime Local departure date and optionally departure time (YYYY-MM-DD or YYYY-MM-DDTHH:mm). When not provided, time is assumed to be 00:01 (required)
     * @param accept http header: application/json or application/xml (Acceptable values are: \&quot;application/json\&quot;, \&quot;application/xml\&quot;) (required)
     * @param directFlights Show only direct flights (false&#x3D;0, true&#x3D;1). Default is false (optional)
     * @param limit Number of records returned per request. Defaults to 20, maximum is 100 (if a value bigger than 100 is given, 100 will be taken) (optional)
     * @param offset Number of records skipped. Defaults to 0 (optional)
     * @return ApiResponse&lt;String&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<String> operationsSchedulesFromDateTimeByOriginAndDestinationGetWithHttpInfo(String origin, String destination, String fromDateTime, String accept, Boolean directFlights, String limit, String offset) throws ApiException {
        com.squareup.okhttp.Call call = operationsSchedulesFromDateTimeByOriginAndDestinationGetCall(origin, destination, fromDateTime, accept, directFlights, limit, offset, null, null);
        Type localVarReturnType = new TypeToken<String>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Flight Schedules (asynchronously)
     * Scheduled flights between given airports on a given date.
     * @param origin Departure airport. 3-letter IATA airport code (e.g. &#39;ZRH&#39;) (required)
     * @param destination Destination airport. 3-letter IATA airport code (e.g. &#39;FRA&#39;) (required)
     * @param fromDateTime Local departure date and optionally departure time (YYYY-MM-DD or YYYY-MM-DDTHH:mm). When not provided, time is assumed to be 00:01 (required)
     * @param accept http header: application/json or application/xml (Acceptable values are: \&quot;application/json\&quot;, \&quot;application/xml\&quot;) (required)
     * @param directFlights Show only direct flights (false&#x3D;0, true&#x3D;1). Default is false (optional)
     * @param limit Number of records returned per request. Defaults to 20, maximum is 100 (if a value bigger than 100 is given, 100 will be taken) (optional)
     * @param offset Number of records skipped. Defaults to 0 (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call operationsSchedulesFromDateTimeByOriginAndDestinationGetAsync(String origin, String destination, String fromDateTime, String accept, Boolean directFlights, String limit, String offset, final ApiCallback<String> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = operationsSchedulesFromDateTimeByOriginAndDestinationGetCall(origin, destination, fromDateTime, accept, directFlights, limit, offset, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<String>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
