<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated OWLS -->
      <package
            uri="http://www.daml.org/services/owl-s/1.1/Process.owl"
            class="owls.OwlsPackage"
            genModel="model/OWLS.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated PetriNet -->
      <package
            uri="petrinet"
            class="petrinet.PetrinetPackage"
            genModel="model/PetriNet.genmodel"/>
   </extension>

</plugin>
